<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table>
    <thead>
    <tr>
        <td>Nom</td>
        <td>Date</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.name}"></td>
        <td th:text="${event.date}"></td>
    </tr>
    </tbody>
</table>
`
<form th:action="@{/event}"
      th:object="${eventForm}" method="POST">

    <input th:field="*{name}">
    <input type="date" th:field="*{date}">

    <button >valider</button>
</form>

</body>
</html>
