<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: head"></head>

<body>

<header th:replace="fragments/general.html :: header (title=${title})"></header>

<aside th:replace="fragments/general.html :: index-left-menu (active='curse')"></aside>

<main>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRPe--Ct_YXZV9-MRZEhD377T1e5XHDjbqR08c6jaLeXp5c9QLFFDyEddtNdjqx0Q/embed?start=false&loop=false&delayms=60000" frameborder="0" width="100%" height="100%" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</main>

<footer th:replace="fragments/general.html :: footer(author=${author}, curse=${curse})"></footer>

</body>

</html>

