<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>

<body>

    <header th:replace="fragments/general.html :: header (title=${title})"></header>

    <aside th:replace="fragments/general.html :: aside (active='event-list')"></aside>
    <main>

        <h1 th:utext="${message}">..!..</h1>

        <table class="styled-table" style="width: -webkit-fill-available;margin:0 50px">
            <thead>

            <tr>
                <th style="width:100px">id</th>
                <th>Nom</th>
                <th>date</th>
                <th style="width:50px; padding:0;text-align: center">
                    <a title="Ajouter un événement" class="add-person" href="event/add">+</a>
                </th>
            </tr>
            </thead>
        </table>
        <div class="list-person">
            <table class="styled-table" style="flex: 1;margin:0">
                <tbody>
                <tr th:each="event : ${events}">
                    <td style="width:100px" th:utext="${event.id}">...</td>
                    <td th:utext="${event.name}">...</td>
                    <td th:utext="${event.date}">...</td>
                    <td style="width:50px;padding:0;text-align: center">
                        <form th:action="@{/event/{id}(id=${event.id})}"
                              style="    display: flex; justify-content: center; align-items: center;"
                              th:method="DELETE">
                            <button th:title="'Supprimer ' + ${event.name}" type="submit" class="del-person">
                                <span>x</span></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </main>
    <footer th:replace="fragments/general.html :: footer(author=${author}, curse=${curse})"></footer>

</body>

</html>
