<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: head"></head>

<body>

<header th:replace="fragments/general.html :: header (title=${title})"></header>

<aside th:replace="fragments/general.html :: index-left-menu (active='home')"></aside>

<main>
</main>

<footer th:replace="fragments/general.html :: footer(author=${author}, curse=${curse})"></footer>


<form action="/monAction">
    <button ></button>
    <input type="submit" />
</form>
</body>

</html>

