<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: head"></head>

<body>

<header th:replace="fragments/general.html :: header (title=${title})"></header>

<aside th:replace="fragments/general.html :: index-left-menu (active='projet')"></aside>

<main class="tp">
    <div>
        <p>Le but de ce projet est de réaliser une application web en utilisant NodeJs et React.
            <br/>
            Cette Application permettra la gestion des skills des étudiants de la promo. Il y aura 2 points d'entrée, à cette application.
            Le site web, qui vous permettra de consulter, rechercher, mettre a jour des skills.
            Le bot discord, qui vous permettra de la meme manière de consulter les skills, d'en mettre à jour.
            Les textes en <span style="color:#046c8c">bleu</span> permettent d'atteindre la note maximale.
        </p>
        <h3>1- Site web / non connecté</h3>
        <ul>
            <li>Sur la page d'accueil, on dispose d'un menu et d'un ensemble de texte/image décrivant votre site
                (laisser place à votre imagination)
            </li>
            <li>Le menu devra comporter un lien de connection</li>
            <li>Le menu devra comporter un lien vers le tableau des skills</li>
            <li>il faudra avoir une page comportant le tableau des skills</li>
            <li style="color:#046c8c">permettre de filtrer les skills par étudiant</li>
            <li>il faudra pouvoir visualiser un étudiant en cliquant dessus, et ainsi avoir une fiche contenant l'ensemble des skills de l'étudiant ainsi que la date de derniere maj</li>
        </ul>
        <h3>2- Connection</h3>
        <ul>
            <li>Utiliser l'api discord afin de gérer la connection</li>
        </ul>
        <h3>3- Site web / connecté</h3>
        <ul>
            <li>Une fois connecté, un lien supplémentaire apparaitra dans le menu "Ajouter"</li>
            <li>L'utilisateur pourra alors mettre à jour ses skills</li>
        </ul>
        <h3>4- BOT discord</h3>
        <ul>
            <li>Vous devrez créer un bot discord, qui vous permettra d'effectuer les operations suivantes</li>
            <li>l'utilisateur pourra consulter les skills d'un étudiant</li>
            <li>L'utilisateur pourra mettre à jour ses skills</li>
            <li>Le bot sera ajouter sur le serveur discord <a href="https://discord.gg/Hb25eWJrPA">AAW MODULE</a>. </li>
            <li>Vos commande devront être préfixé par un identifiant unique (trigramme de vos nom de famille), permettant d'éviter les doublons (ie: /trd-skills, /trd-set-skill)</li>
            <li>il faudra dans le readme me fournir la liste des commandes ;)</li>

        </ul>
        <h3>4- Sécurité</h3>
        <ul>
            <li>Il faudra mettre en place un mécanisme de token stocké en base de données</li>
            <li>Ce token doit avoir une expiration</li>
        </ul>
        <h3 style="color:#046c8c">5- Administration</h3>
        <ul style="color:#046c8c">
            <li>Il y aura un rôle administrateur, vous devrez donc gérer un schéma vous permettant de savoir si un utilisateur est admin.</li>
            <li>l'administrateur devra pouvoir modifier les skills de n'importe quel utilisateur</li>
            <li>Déconnecter un utilisateur</li>
        </ul>

    </div>
</main>

<footer th:replace="fragments/general.html :: footer(author=${author}, curse=${curse})"></footer>

</body>

</html>

